<nav class="navbar navbar-expand-lg bg-body-tertiary mr-2" data-bs-theme="dark">
  <div class="container-fluid">
    <button aria-label="Open global navigation menu" data-action="click:deferred-side-panel#loadPanel click:deferred-side-panel#panelOpened" data-show-dialog-id="dialog-4c0007d6-adea-450d-b803-58a840b54eb3" id="dialog-show-dialog-4c0007d6-adea-450d-b803-58a840b54eb3" type="button" data-view-component="true" class="btn btn-outline-light btn-dark btn-icon-only AppHeader-button color-bg-transparent p-0 color-fg-muted"><svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="25" data-view-component="true" class="octicon-three-bars Button-visual">
      <path d="M1 2.75A.75.75 0 0 1 1.75 2h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 2.75Zm0 5A.75.75 0 0 1 1.75 7h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 7.75ZM1.75 12h12.5a.75.75 0 0 1 0 1.5H1.75a.75.75 0 0 1 0-1.5Z" ></path></svg>
    </button>
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-github"
      viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"></path>
    </svg>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Dashboard</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="🔍 Type / to search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
        <button type="button" class="btn btn-outline-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
          </svg>
          <span class="visually-hidden">Button</span>
        </button>
        <button type="button" class="btn btn-outline-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-git" viewBox="0 0 16 16">
            <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.03 1.03 0 0 0 0-1.457"/>
          </svg>
          <span class="visually-hidden">Button</span>
        </button>
        <button type="button" class="btn btn-outline-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-box2" viewBox="0 0 16 16">
            <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3zM7.5 1H3.75L1.5 4h6zm1 0v3h6l-2.25-3zM15 5H1v10h14z"/>
          </svg>
          <span class="visually-hidden">Button</span>
        </button>
      </form>
    </div>
  </div>
</nav>


<div class="container-fluid" style="height: 100vh!important;">
    <div class="row h-100 w-100">
        <div class="col-2 d-flex flex-column flex-shrink-0 text-white bg-dark fixed-botctom">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-6">Top Repositories</span>
                <button type="button" class="btn btn-success">New</button>
            </a>
            <div class="form-group">
                <input type="text" class="form-control bg-dark text-white" id="inputTexto"
                    placeholder="Find a repository...">
            </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="" class="nav-link text-white" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#home" />
                        </svg>
                        fernanbcv/Coffe
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2" />
                        </svg>
                        fernanbcv/PokeApi
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#table" />
                        </svg>
                        fernanbcv/ValorantApi
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#grid" />
                        </svg>
                        fernanbcv/Millonarios
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#people-circle" />
                        </svg>
                        fernanbcv/CodificadorMensajes
                    </a>
                </li>
            </ul>
            <hr>
        </div>

        <!-- Contenido principal -->
        <div class="col-8 ">
           <div class="col-12 m-lg-3 mt-4 d-flex gap-4 ">
            <div class="card mt-5">
                <div class="card-header">
                  <h5 class="card-title">Start a new repository for FernandoBenitezCano</h5>
                </div>
                <div class="card-body">
                  <small class="card-text">A repository contains all of your project's files, revision history, and collaborator discussion.</small>
                  
                  <form>
                    <div class="form-group">
                      <label for="repositoryName">Repository Name*</label>
                      <input type="text" class="form-control" id="repositoryName" placeholder="Enter repository name">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          public
                        </label>
                        <br>
                        <span>Anyone on the internet can see this repository</span>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          private
                        </label>
                        <br>
                        <span>You choose who can see and commit to this repository</span>
                      </div>
                    <button type="submit" class="btn btn-success">Create Repository</button>
                  </form>
          
                </div>
            </div>
            <div class="col-md-7 d-flex flex-column align-items-end">
              <div class="tarjetas mt-5">
                <div class="card mb-3 bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">fernanbcv</h5>
                    <p> made this repository public: fernanbcv/PokeApi</p>
                  </div>
                </div>
                <div class="card mb-3 bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">fernanbcv</h5>
                    <p> made this repository public: fernanbcv/Coffe</p>
                  </div>
                </div>
                <div class="card mb-3 bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">fernanbcv</h5>
                    <p> made this repository public: fernanbcv/CodificadorMensajes</p>
                  </div>
                </div>
                <div class="card mb-3 bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">Trending Repositories</h5>
                    <p> fernanbcv/Depth-Anything</p>
                    <p>Depth Anything: Unleashing the Power of Large-Scale</p>
                  </div>
                </div>
              </div>
            </div>
            
            

           </div>
           
        </div>
        


    </div>

    